@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TTNORMS";
  src: url("../src/assets/fonts/TTNORMS-MEDIUM.ttf");
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.remove-arrow {
  -moz-appearance: textfield;
}

input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

body {
  background-color: #f0f0f3;
}