@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TTNORMS";
  src: url("../src/assets/fonts/TTNORMS-MEDIUM.ttf");
}

@font-face {
  font-family: "PT Mono";
  src: url("../src/assets/fonts/PTMono-Regular.ttf");
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.remove-arrow {
  -moz-appearance: textfield;
}

input[type='date'] {
  position: relative;
}

input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

input[type='datetime-local'] {
  position: relative;
}

input[type='datetime-local']::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

input[type='month'] {
  position: relative;
}

input[type='month']::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

input[type='time'] {
  font-size: 18px;
  text-align: center;
}

input[type='time']::-webkit-calendar-picker-indicator {
  display: none;
  background: none; 
}

body {
  background-color: #f0f0f3;
}


.tooltip {
  position: absolute;
  right: -3%;
  top: 34px; /* calc(-100% + 74px) */
  /* min-width: 200px; */
  padding: 8px;
  color: white; /* #2c3e50 */
  background-color: black; /* rgb(241, 245, 249) */
  border-radius: 4px;
  z-index: 1;
}

.tooltip::before {
  content: '';
  position: absolute;
  top: -4px;
  right: 8px;
  width: 9px;
  height: 9px;
  background-color: black;
  transform: rotate(45deg);
}